body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

button {
    padding: 10px 20px;
    border: none;
    background: #38bdf8;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 120px;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}